<!DOCTYPE html>
<html>
    <head>

        <!-- The title for SEO & browser tabs -->
        <title> SM ARCHITECTS </title>

        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

        <!-- My own custom stylesheet -->
        <link rel="stylesheet" href="/style.css">

    </head>
    <body>

        



        {{content}}









        <footer class="padded grid">
            <div class="col-7_sm-12-middle logo text-md">
               <h3><span class="sm">SM</span> ARCHITECTS</h3>
            </div>
            <div class="col-5_sm-12">
               <p>Ing. arch. Jiří Soukup  <a href="tel:+420 608 834 967">+420 608 834 967</a></p>
               <p>MgA. Tereza Mosbauerová <a href="tel:+420 731 654 946"> +420 731654946</a></p>
               <p>Email:<a href="mailto:info@smarchitects.cz"> info@smarchitects.cz</a></p>
               <p>Adresa: Pavla Švandy ze Semčic 13, Praha 5, 15000</p>
            </div>


        </footer>

    </body>
</html>